//mat-icon {
//  font-size: 14px;
//  margin-top: 5px;
//  padding-left: 6px;
//}
@import "~src/variables.scss";

.footer {
  color: white;
  background-color: $secondary-color;
}

mat-icon {
  font-size: 1rem;
  margin-top: 4px;
}

p {
  font-size: .9rem;
}

@media (max-width: 991px) {
  p {
    font-size: .7rem;
  }

  b {
    font-size: .8rem;
  }
}

@media (max-width: 767px) {
  p {
    font-size: .7rem;
  }
}
