<div class="footer w-100">
  <div class="pt-4 px-5" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="1rem" fxLayout.xs="column"
       fxLayoutAlign.xs="start">

    <div fxLayout="column" fxLayoutGap=".6rem">
      <b class="mb-4">Contacto</b>
      <div fxLayout="row">
        <mat-icon>email</mat-icon>
        <p class="mb-0">joelrg1288@gmail.com</p>
      </div>
      <div fxLayout="row">
        <mat-icon>phone</mat-icon>
        <p>+52 (55) 5193-2589</p>
      </div>
    </div>

    <div fxLayout="column" fxLayoutGap=".6rem">
      <b class="mb-4">Dirección</b>
      <div fxLayout="row">
        <mat-icon>home</mat-icon>
        <p class="mb-0">Ecatepec de Morelos, Estado de México</p>
      </div>
    </div>

  </div>

  <div class="px-5">
    <mat-divider style="background-color: white;"></mat-divider>
  </div>

  <div class="py-2 px-5" fxLayout="row">
    <p class="mb-0">© Joel Romero 2019</p>
  </div>
</div>
