<app-loader *ngIf="loading"></app-loader>
<div class="container-fluid">
  <div fxLayout="row">

    <div fxLayout="row" fxHide.lt-md fxFlex="65%">
      <img class="img-responsive img-login" src="assets/img/login-image.png" alt="">
    </div>

    <div fxLayout="column" fxFlex="35%" fxLayoutGap="4.5rem" fxFlex.lt-md="100%" fxLayoutAlign="center">

      <div fxLayout="row" fxLayoutAlign="center">
        <img src="assets/img/textura.svg" alt="" fxFlex="100%">
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <img class="logo" src="assets/img/image.png" alt="" fxFlex="70%" fxFlex.lt-sm="90%">
      </div>

      <div fxLayout="column" fxLayoutAlign="center">

        <div class="alert alert-danger text-center" role="alert" *ngIf="loginError">
          Email o password incorrectos
        </div>

        <form (ngSubmit)="onLogin(loginForm)"
              #loginForm="ngForm">

          <div fxLayout="row" fxLayoutAlign="center">
            <mat-form-field fxFlex="70%" fxFlex.lt-md="90%">
              <mat-label>Correo</mat-label>
              <input
                type="email"
                matInput
                placeholder="juan.perez@clicknbox.com"
                ngModel
                name="username"
                required
                email
                #emailInput="ngModel">
              <mat-error *ngIf="emailInput.hasError('required')">El campo no debe estar vacío</mat-error>
              <mat-error *ngIf="!emailInput.hasError('required')">Correo inválido</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="center">
            <mat-form-field fxFlex="70%" fxFlex.lt-md="90%">
              <mat-label>Contraseña</mat-label>
              <input
                type="password"
                matInput
                placeholder="********"
                ngModel
                name="password"
                required
                minlength="8"
                #pwInput="ngModel">
              <mat-error *ngIf="pwInput.hasError('required')">Campo requerido</mat-error>
              <mat-error *ngIf="pwInput.hasError('minlength')">Longitud mínima de 8 caracteres</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="center">
            <button mat-raised-button class="btn-primary" [disabled]="loginForm.invalid" fxFlex="40%"
                    fxFlex.lt-md="90%">
              Acceder
            </button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
