<app-loader *ngIf="loading"></app-loader>
<mat-sidenav-container>
  <mat-sidenav #sidenav position="end">

    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="3rem" class="mt-4">
      <img src="{{selectedUser.avatar}}" alt="" class="avatar">

      <form #userForm="ngForm" fxLayout="column" fxLayoutAlign="start center"
            (ngSubmit)="onEditUser(userForm)" fxFlex="100%">

        <div fxLayout="row" fxLayoutAlign="center">
          <mat-form-field fxFlex="100%" fxFlex.lt-md="90%">
            <input
              type="text"
              matInput
              placeholder="Nombre"
              ngModel
              name="name"
              required
              [(ngModel)]="name"
              #nameInput="ngModel">
            <mat-error *ngIf="nameInput.hasError('required')">El campo no debe estar vacío</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="center">
          <mat-form-field fxFlex="100%" fxFlex.lt-md="90%">
            <input
              type="email"
              matInput
              placeholder="Email"
              ngModel
              name="email"
              required
              email
              [(ngModel)]="email"
              #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('required')">El campo no debe estar vacío</mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">Correo inválido</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="center">
          <button mat-raised-button class="btn-primary"
                  [disabled]="(selectedUser.first_name + ' ' + selectedUser.last_name === name && selectedUser.email === email)
                  || userForm.invalid" fxFlex="100%">
            Editar
            <mat-icon>edit</mat-icon>
          </button>
        </div>

      </form>

      <div fxLayout="row" fxLayoutAlign="center">
        <button mat-raised-button class="btn-secondary" fxFlex="100%" (click)="onShowPosts()">
          Ver posts
        </button>
      </div>

    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-around center"
         fxLayoutAlign.lt-sm="center center" fxLayoutGap.gt-xs="1.5rem" class="mx-5 my-5">
      <app-card *ngFor="let user of users"
                [title]="user.first_name + ' ' + user.last_name"
                [content]="user.email"
                [image]="user.avatar"
                (click)="openSidenav(sidenav, user)"></app-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
