mat-sidenav {
  position: fixed;
  width: 30%;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .4);
}

.avatar {
  width: 10rem;
  border-radius: 5rem;
}

@media (max-width: 991px) {
  mat-sidenav {
    width: 40%;
  }
}

@media (max-width: 650px) {
  mat-sidenav {
    width: 70%;
  }
}
