<app-loader *ngIf="loading"></app-loader>
<div class="position-relative">
  <h3 class="text-center">Posts de {{user}}</h3>
  <mat-divider></mat-divider>
  <mat-dialog-content class="text-center">
    <div *ngFor="let post of posts">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <p class="post-title">{{post.title}}</p>
        <mat-icon (click)="onDeletePost(post.id)">delete</mat-icon>
      </div>
      <p class="post-body text-left">{{post.body}}</p>
      <mat-divider></mat-divider>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout fxLayoutAlign="end">
    <button
      mat-button
      [mat-dialog-close]="true"
      class="btn-primary">
      Cerrar
    </button>
  </mat-dialog-actions>

</div>
