@import "~src/variables.scss";

.post-title {
  color: $secondary-color;
  font-weight: 600;
}

.post-body {
  font-size: 0.6rem;
  font-weight: 200;
}

mat-icon {
  color: #900707;
  cursor: pointer;
}
