<app-loader *ngIf="loading"></app-loader>
<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-around center"
     fxLayoutAlign.lt-sm="center center" fxLayoutGap.gt-xs="1.5rem" class="mx-5 my-5">
  <app-card *ngFor="let user of users"
            [title]="user.first_name + ' ' + user.last_name"
            [content]="user.email"
            [image]="user.avatar"
            (click)="onShowAlbum(user)"></app-card>
</div>
