<div class="header w-100" fxLayout="row" fxLayoutAlign="space-between" [ngClass]="headerClass">
  <img src="assets/img/logo-header.png" alt="" routerLink="/clicknbox" style="outline: none;cursor: pointer;"
       fxHide.lt-sm>
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="1rem" class="mr-3" fxFlex.lt-sm="100%">
    <div *ngFor="let section of sections" class="menu-item" [ngClass]="itemClass" routerLink="{{section.route}}"
         routerLinkActive="menu-active">
      <div fxLayout="column" fxLayoutGap="0.2rem" fxLayoutAlign="start center">
        <mat-icon fxHide.gt-xs class="pt-2">{{section.icon}}</mat-icon>
        <p class="mb-0">{{section.title}}</p>
      </div>
    </div>
    <div class="menu-item" [ngClass]="itemClass" (click)="onLogout()">
      <div fxLayout="column" fxLayoutGap="0.2rem" fxLayoutAlign="start center">
        <mat-icon class="mt-2">power_settings_new</mat-icon>
        <p class="mb-0" fxHide.gt-xs>Salir</p>
      </div>
    </div>
  </div>
</div>
