@import "~src/variables.scss";

.header {
  color: white;
  background-color: $secondary-color;
}

.sticky {
  //background-color: rgba(0, 74, 105, .8);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .4);
  z-index: 10;
}

img {
  max-height: 4rem;
}

.menu-item {
  font-size: 1.2rem;
  transition: transform .3s;
  -webkit-transition: transform .3s;
}

.menu-item:hover {
  color: $primary-color-hover;
  cursor: pointer;
  transform: scale(1.1);
}

.menu-active {
  font-weight: 600;
  transition: transform .3s;
  -webkit-transition: transform .3s;
  color: $primary-color;
  transform: scale(1.2);
}

.menu-active:focus {
  outline: none;
  transform: scale(1.2);
}

@media (max-width: 850px) {
  p {
    font-size: 1rem;
  }

  img {
    width: 200px;
    height: 50px;
  }
}
