<div class="position-relative">
  <h5 class="text-center">Album de {{name}}</h5>
  <div fxLayout="row wrap" fxLayoutAlign="space-around" fxLayoutGap="1rem">
    <img *ngFor="let photo of photos" src="{{photo.thumbnailUrl}}" alt="" class="mt-3">
  </div>
  <div fxLayout="row" class="my-4" fxLayoutAlign="end" fxLayoutAlign.lt-sm="center">
    <button mat-raised-button class="btn-cancel" fxFlex="20%" fxFlex.lt-sm="100%" [mat-dialog-close]="false">Cerrar
    </button>
  </div>
</div>
