/* You can add global styles to this file, and also import other style files */
@import "~src/variables.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  color: $dark-gray;
  font-family: mainFont, sans-serif;
}

@font-face {
  font-family: mainFont;
  src: url("assets/fonts/PlayfairDisplay-Regular.ttf");
}

/* MAT BUTTONS */
.mat-raised-button, .mat-button {
  font-family: mainFont, sans-serif;
  padding: .2rem 1.5rem !important;
  border-radius: 75rem !important;
  font-size: 1rem;
  font-weight: 600;
}

.btn-primary {
  background-color: $primary-color;
  color: white;
}

.btn-primary:hover {
  background-color: $primary-color-hover;
}

.btn-secondary {
  background-color: $secondary-color;
  color: white;
}

.btn-secondary:hover {
  background-color: $secondary-color-hover;
}

.btn-accept {
  color: white;
  background-color: #218E3D;
}

.btn-cancel {
  color: white;
  background-color: #E15A5A;
}

/* MAT FORM FIELDS */
mat-form-field.mat-form-field-type-mat-input {
  margin-bottom: 2rem;
  padding: 0 1rem;
  border-radius: 1rem;
  border: 1px $dark-gray solid;
}

mat-form-field.mat-form-field-invalid {
  border: 1px red solid;
}

mat-error, mat-hint, .mat-hint {
  margin-top: 1rem;
}

mat-form-field .mat-form-field-underline {
  display: none;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}

.mat-form-field-infix {
  border-top: 0;
}

/* TITLES */
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  color: $primary-color;
}
