<div class="position-relative">
  <h3 class="text-center">{{title}}</h3>
  <mat-dialog-content class="text-center">
    <p>{{content}}</p>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout fxLayoutAlign="space-around">
    <button
      mat-button
      [mat-dialog-close]="false"
      class="btn-cancel">
      Cancelar
    </button>
    <button
      mat-button
      [mat-dialog-close]="true"
      class="btn-accept">
      Continuar
    </button>
  </mat-dialog-actions>

</div>
