@import "~src/variables.scss";

mat-card {
  width: 220px;
  height: 400px;
  padding: 0;
  transition: transform .5s;
  overflow: hidden;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
  text-align: center;
}

mat-card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.mat-card-image {
  width: 100%;
  height: 190px;
}

.mat-card-content {
  padding: 0.5rem 0.8rem !important;
  font-size: 0.8rem;
}

.mat-card-title {
  font-weight: 800;
  font-size: 1.5rem;
}

@media (max-width: 599px) {
  .mat-card-content {
    padding: 0.2rem 1.2rem;
    font-size: 0.9rem;
  }
}
