<mat-card class="my-3">
  <img mat-card-image [src]="image" alt="">
  <mat-card-header fxLayout="row" fxLayoutAlign="center">
    <mat-card-title><h3>{{ title }}</h3></mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayoutAlign="end">
    <p>{{content}}</p>
  </mat-card-content>
</mat-card>
